# Build Artifacts
/build
/app/release/
/captures
.gradle
.externalNativeBuild
.cxx
META-INF/

# IDE files
/.idea/
*.iml
.DS_Store

# Secrets & Configs
local.properties
secrets.properties
*.jks
*.keystore
google-services.json

# Dependencies
gradle/wrapper/gradle-wrapper.jar

# Logs/Diagnostics
**/*.hprof

# Skiko libraries
*.so
*.so.sha256